label.error { font-weight: bold; clear:both;}
input.error, textarea.error { border: 2px solid red; }

.rsvpFormField {
  margin: 10px 0px;
}
.rsvpBorderTop {
  border-top: 1px solid #ccc;
}
.rsvpAttendee {
  text-align:left;
  border-top: 1px solid #ccc;
}
